smart_agriculture_system.json
[{"id":"d1881ff0.0cb74","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f339f9bd.8d5768","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#68a8d9","baseFont":"Trebuchet MS,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#68a8d9","edited":true},"page-titlebar-backgroundColor":{"value":"#68a8d9","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#a5cbe8","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#68a8d9","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Trebuchet MS,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Agriculture System","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4a1beaa9.46e3d4","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"mi-dashboard","disabled":false,"hidden":false},{"id":"ebc9d91f.4a0cd8","type":"ui_group","z":"","name":"Motor Control","tab":"4a1beaa9.46e3d4","order":4,"disp":true,"width":"6","collapse":false},{"id":"3ab6efba.75004","type":"ibmiot","z":"","name":"ibmout","keepalive":"60","serverName":"mg7y3e.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"90ada991.0aa938","type":"ui_group","z":"","name":"Soil Condition","tab":"4a1beaa9.46e3d4","order":3,"disp":true,"width":"6","collapse":false},{"id":"22c37a4c.ae2466","type":"ui_spacer","name":"spacer","group":"90ada991.0aa938","order":2,"width":1,"height":1},{"id":"f82ca5e7.19a3f8","type":"ui_spacer","name":"spacer","group":"90ada991.0aa938","order":2,"width":1,"height":1},{"id":"152840ef.290a3f","type":"ui_group","z":"","name":"Weather Forecast","tab":"4a1beaa9.46e3d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"ce6bd719.355bf8","type":"ibmiot","z":"","name":"ibmin","keepalive":"60","serverName":"mg7y3e.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d1b49f73.8bcf7","type":"ibmiot in","z":"d1881ff0.0cb74","authentication":"apiKey","apiKey":"ce6bd719.355bf8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"farm1","applicationId":"","deviceType":"NodeMcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"0","x":270,"y":120,"wires":[["94758b02.37b5b8","b165778a.9cfdf8"]]},{"id":"a5f6e34b.eed11","type":"debug","z":"d1881ff0.0cb74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":100,"wires":[]},{"id":"b165778a.9cfdf8","type":"function","z":"d1881ff0.0cb74","name":"Temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["a5f6e34b.eed11","aebd5e30.3f6d5"]]},{"id":"94758b02.37b5b8","type":"function","z":"d1881ff0.0cb74","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["a5f6e34b.eed11","6f07746f.3de1bc"]]},{"id":"54d3b2e4.31e5cc","type":"http request","z":"d1881ff0.0cb74","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/weather?q=Vijayawada,%20IN&appid=af94bb2de11ce8ad1a8f1aae04892081","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":300,"wires":[["384a6a46.ea8fe6","b245fc61.a588a"]]},{"id":"8fb8c64e.e0ccb8","type":"debug","z":"d1881ff0.0cb74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"94e3ccaf.71344","type":"inject","z":"d1881ff0.0cb74","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":360,"wires":[["54d3b2e4.31e5cc"]]},{"id":"384a6a46.ea8fe6","type":"function","z":"d1881ff0.0cb74","name":"Temp","func":"//p = msg.payload;\np=JSON.parse(msg.payload);\nmsg.payload=p.main.temp - 273;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["8fb8c64e.e0ccb8","baa4302c.60dd"]]},{"id":"baa4302c.60dd","type":"ui_text","z":"d1881ff0.0cb74","group":"152840ef.290a3f","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":400,"wires":[]},{"id":"b245fc61.a588a","type":"function","z":"d1881ff0.0cb74","name":"Humidity","func":"//p = msg.payload;\np=JSON.parse(msg.payload);\nmsg.payload=p.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["7c0d41f.3a773c","8fb8c64e.e0ccb8"]]},{"id":"7c0d41f.3a773c","type":"ui_text","z":"d1881ff0.0cb74","group":"152840ef.290a3f","order":2,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":440,"wires":[]},{"id":"6f07746f.3de1bc","type":"ui_gauge","z":"d1881ff0.0cb74","name":"","group":"90ada991.0aa938","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"75","x":640,"y":40,"wires":[]},{"id":"aebd5e30.3f6d5","type":"ui_gauge","z":"d1881ff0.0cb74","name":"","group":"90ada991.0aa938","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":" °C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"75","x":650,"y":160,"wires":[]},{"id":"ba0f9494.5cb4a8","type":"ibmiot out","z":"d1881ff0.0cb74","authentication":"apiKey","apiKey":"3ab6efba.75004","outputType":"cmd","deviceId":"ibmout","deviceType":"NodeMcu","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1180,"y":100,"wires":[]},{"id":"5eb8f761.874018","type":"ui_button","z":"d1881ff0.0cb74","name":"","group":"ebc9d91f.4a0cd8","order":2,"width":0,"height":0,"passthru":false,"label":"motoron","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":900,"y":120,"wires":[["ba0f9494.5cb4a8"]]},{"id":"281bfcd.6adb204","type":"ui_button","z":"d1881ff0.0cb74","name":"","group":"ebc9d91f.4a0cd8","order":3,"width":0,"height":0,"passthru":false,"label":"motoroff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":900,"y":180,"wires":[["ba0f9494.5cb4a8"]]}]